.LikedsongBody{
    height:calc(100vh - 185px);
     padding:30px;
     margin:30px;
     box-shadow: rgba(0, 0, 0 0.15) 0px 2px;
     justify-content: center;
     align-items: center;
     text-align: center;
 }
 .title{
     font-size: 25px;
     justify-content:flex-start;
     display: flex;
     color:gray;
     font-weight:400;
     padding:20px;
     font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }
 .likedsongdesign{
     display:flex;
     align-items: center;
    
 }
 .SongTitle{
     width:50%;
     font-size: 20px;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }
 .playbutton{
     padding-right:90px;
    
 }
 .likedsonglist{
     justify-content: flex-start;
     padding:20px;
     display: flex;
 }
 .audioplay{
    display:flex;
    width:80%;
    height:80px;
    background:#c8b8df;
    border-radius: 10px;
    padding:20px 30px;
    margin:50px auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }